<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>实物订单</title>
<link rel="stylesheet" type="text/css" href="../../css/base.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_member.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_cart.css">
</head>
<body>
<header id="header" class="fixed">
  <div class="header-wrap">
    <div class="header-l"><a href="member.html"><i class="back"></i></a></div>
    <div class="header-r"> <a id="header-nav" href="javascript:void(0);"><i class="more"></i><sup></sup></a> </div>
  </div>
  <div class="nctouch-nav-layout">
    <div class="nctouch-nav-menu"> <span class="arrow"></span>
      <ul>
        <li><a href="../../index.html"><i class="home"></i>首页</a></li>
        <li><a href="../search.html"><i class="search"></i>搜索</a></li>
        <li><a href="../product_first_categroy.html"><i class="categroy"></i>分类</a></li>
        <li><a href="javascript:void(0);"><i class="message"></i>消息<sup></sup></a></li>
        <li><a href="../cart_list.html"><i class="cart"></i>购物车<sup></sup></a></li>
        <li><a href="../member/member.html"><i class="member"></i>我的商城</a></li>
      </ul>
    </div>
  </div>
</header>
<div class="nctouch-main-layout">
  <div class="nctouch-order-search">
    <form>
      <span><input type="text" autocomplete="on" maxlength="50" placeholder="输入商品ID进行搜索" name="goods_id" id="goods_id" oninput="writeClear($(this));" >
      <span class="input-del"></span></span>
      <input type="button" id="search_btn" value="&nbsp;">
    </form>
  </div>
  <div id="fixed_nav" class="nctouch-single-nav">
    <ul id="filtrate_ul" class="w20h">
	    <li class="selected"><a href="javascript:void(0);" data-state="state_all">全部</a></li>
    </ul>
  </div>
  <div class="nctouch-order-list">
    <ul id="order-list">
    </ul>
  </div>
 
</div>
<div class="fix-block-r">
	<a href="javascript:void(0);" class="gotop-btn gotop hide" id="goTopBtn"><i></i></a>
</div>
<footer id="footer" class="bottom"></footer>
<script type="text/html" id="order-list-tmpl">
<% var fenxiao_goods_list = datas.fenxiao_goods_list; %>
<% if (fenxiao_goods_list.length > 0){%>
	<% for(var i = 0;i<fenxiao_goods_list.length;i++){
		var goodslist = fenxiao_goods_list[i];
	%>
		<li class="green-order-skin">
			<% 
				var single_goods = goodslist;
			%>
				<div class="nctouch-order-item">
				<div class="nctouch-order-item-head">
							<a href="<%=WapSiteUrl%>/tmpl/store.html?store_id=<%=single_goods.store_id%>" class="store"><i class="icon"></i><%=single_goods.store_name%><i class="arrow-r"></i></a>
						<span class="state">
							<%=single_goods.status%>
						</span>
					</div>
					
					<div class="nctouch-order-item-con">
						<%
							var count = 0;
						%>
						<div class="goods-block">
						<a href="<%=WapSiteUrl%>/tmpl/product_detail.html?goods_id=<%=single_goods.goods_id%>&inviter=<%=single_goods.inviter%>">
							<div class="goods-pic">
								<img src="<%=single_goods.goods_image_url%>"/>
							</div>
							<dl class="goods-info">
								<dt class="goods-name"><%=single_goods.goods_name%></dt>
								<dt class="goods-price">￥<em><%=single_goods.goods_price%></em></dt>

							</dl>
							<div class="goods-subtotal">
							</div>
						</a>
						</div>
						<%  %>
						
					</div>
					<div class="nctouch-order-item-footer">
						<div class="store-fenxiao">
							<span>支付编号：<%=single_goods.pay_sn%></span>
						</div>
						<div class="store-fenxiao">
							<span>支付金额：<font color="red"><%=single_goods.goods_price%></font>元</span>
							<span>分销返利：<font color="red"><%=single_goods.fanli_money%></font>元</span>
						</div>

					</div>
				</div>
			<% %>
			
		</li>
	<%}%>
	<% if (hasmore) {%>
	<li class="loading"><div class="spinner"><i></i></div>商品数据读取中...</li>
	<% } %>
<%}else {%>
	<div class="nctouch-norecord order">
		<div class="norecord-ico"><i></i></div>
		<dl>
			<dt>暂无商品</dt>
		</dl>
		<a href="<%=WapSiteUrl%>" class="btn">随便逛逛</a>
	</div>
<%}%>
</script> 
<script type="text/javascript" src="../../js/zepto.min.js"></script> 
<script type="text/javascript" src="../../js/template.js"></script> 
<script type="text/javascript" src="../../js/config.js"></script> 
<script type="text/javascript" src="../../js/common.js"></script> 
<script type="text/javascript" src="../../js/simple-plugin.js"></script> 
<script type="text/javascript" src="../../js/zepto.waypoints.js"></script> 
<script type="text/javascript" src="../../js/tmpl/order_payment_common.js"></script> 
<script type="text/javascript" src="../../js/tmpl/fenxiao_fanli_list.js"></script>
</body>
</html>
